* {
  margin: 0;
  padding: 0;
}

body {
  min-height: auto;
  background-color: #b0c4de;
  margin: 50px auto;
  height: 800px;
  width: 600px;
  border: 5px solid black;
  justify-items: center;
}

.titulo {
  font-size: 40px;
  text-align: center;
  margin: 15px;
}

h3 {
  font-size: 18px;
  text-align: center;
}

.vista-resultado {
  border: 5px solid #ff8c00;
  height: 90px;
  width: 345px;
  margin: 10px;
}
.visualizar-resultado {
  height: 84px;
  width: 340px;
  font-size: 50px;
  font-weight: 600;
}

.boton {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 86px;
  width: 358px;
  margin: 15px;
}

.btn {
  font-size: 40px;
  font-weight: 600;
  height: 80px;
  width: 80px;
  border-radius: 2px;
  margin: 3px;
  background-color: #f0f8ff;
}

.btn:hover {
  background-color: #ff8c00;
}

.pie {
  text-align: center;
}
